.reveal section img {
    border: none;
    box-shadow: none;
}
.reveal pre code {
    max-height: 600px;
}
code {
    text-decoration: underline dotted;
}

/* src blocks captions */
label.org-src-name {
    font-size: 80%;
    font-style: italic;
}
