.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal pre code {
    max-height: 600px;
}

.reveal pre {
    margin: 5px auto;
}

.reveal pre.src {
    width: 100%;
}

code {
    text-decoration: underline dotted;
}

.pre-on-left-image-on-right .org-src-container
{
    overflow:auto;
    width: 60%;
}

.pre-on-left-image-on-right .figure
{
    float:right;
    width: 40%;
}

.reveal .slides section .verybiggrow .fragment.grow.visible {
	transform: scale(1.5);
}

.figure p {
    margin: 2px 0;
}
.figure p img {
    margin: 2px 0;
}

label.org-src-name {
    font-size: 60%;
    font-style: italic;
}

.reveal h4 {
  font-size: 1.55em; }

.reveal section#sec-title-slide h2 {
    text-shadow: none;
}

.reveal section#sec-title-slide h3:first-of-type {
    text-shadow: 2px 2px 4px #000000;
}

.reveal section h2 {
    text-shadow: 2px 2px 4px #000000;
}

.reveal .slides section li.fragment.grow.visible {
    text-shadow: 2px 2px 4px #000000;	
}

/* @font-face{ */
/*     font-family:OpenDyslexic; */
/*     src:url('https://cdn.clarkhacks.com/OpenDyslexic/v3/OpenDyslexic3-Regular.ttf'); */
/* 	font-style: normal; */
/* 	font-weight: normal; */
/* } */
/* @font-face{ */
/*     font-family:OpenDyslexic-Bold; */
/*     src:url('https://cdn.clarkhacks.com/OpenDyslexic/v3/OpenDyslexic3-Bold.ttf'); */
/* 	font-weight: bold; */
/* 	font-style: normal; */
/* } */
/* /\* body{font-family:OpenDyslexic}b{font-family:OpenDyslexic-Bold} *\/ */

/* /\* * { *\/ */
/* /\* 	font-size:20px; *\/ */
/* /\* 	line-height:200%; *\/ */
/* /\* 	color: #191A42; *\/ */
/* /\* 	font-family:opendyslexic !important; *\/ */
/* /\* } *\/ */

/* .reveal, */
/* .reveal h1, */
/* .reveal h2, */
/* .reveal h3, */
/* .reveal h4, */
/* .reveal h5, */
/* .reveal h6 { */
/*   font-family:OpenDyslexic !important; */
/* } */
