/* 002F6C */

body { 
  -webkit-print-color-adjust: exact;
/*  font-family: Arial, Helvetica, sans-serif;*/
	color: Black; 
/*	font-size: 12px; */
	text-align: justify;
	margin: 0px 0px 0px 0px;
	counter-reset: exercice question;
}

/*
 *      header
 */
header {
  background: #003882;
  color: white;
  /*       margin: 0px 0px 10px 0px; */
  /* padding: 0px 0px 0px 0px; */
}

header top {
  display: block;
  font-size: 10px;
	line-height: 12px;
	height: 12px;
	/* padding: 0px 5px 0px 5px; */
	/* margin: 0px 0px 0px 0px; */
}

/* header fill-box { */
/*   display: flex; */
/* } */

/* header fill-left { */
/*   flex: 1; */
/* 	float: left */
/* } */

/* header fill-right { */
/*   flex: 1; */
/* 	float: right */
/* } */

header left {
  float: left;
}

header right {
  float: right;
}

header logo-tsp {
  display: block;
  width: 41px;
  height: 41px; 
  background: url(logoTSPweb50.jpg); 
  background-size: contain;
}

header logo-saclay {
  display: block;
  width: 29px; 
  height: 29px; 
  background: url(saclay.jpg); 
  background-size: contain;
}

header h1 {
  font-size: 14px; 
	font-weight: bold; 
	text-align: center;
	color: white;
	/* padding: 0px 5px 0px 5px; */
	/* margin: 0px 0px 0px 0px; */
  line-height: 29px;
	height: 29px;
}

header a {
  text-decoration: none;
	color: inherit;
}

/*
 *  nav
 */
nav  {   
/*  display: block;           */
  background-color: #6D5047;
	color: white;            
	height: 18px;
}

nav ul {
/*  list-style: none; */
/*  margin: 0;*/
/*  padding: 0;*/
}

nav li {
/*  float: left;*/
/*  background-color: #6D5047;*/
  /* margin: 0px 10px 0px 10px; */
  /*       padding: 0px 10px 0px 10px; */
  /*       text-align: left; */
  line-height: 18px; 
  height: 18px;
  /* opacity: 0.96; */
  /*       z-index: 1000; */
}

nav ul ul {
/*	position: absolute; */
/*	display: flex; */
/*	flex-direction: column; */
/*	margin: 0px 0px 0px -18px;*/
}

nav ul ul li {
/*	width: 210px; */
}

nav ul ul ul {
/*	margin: -18px 0px 0px 210px; */
}

/* nav menu-toggle { */
/* 	display: inline-block; */
/* 	width: 10px; */
/* 	text-align: center; */
/* } */

/* nav menu-toggle.has-children:hover { */
/* 	cursor: pointer; */
/* } */

/* nav menu-toggle:before { */
/*   content: ' '; */
/* } */

/* nav menu-toggle.has-children:before { */
/* 	content: '+'; */
/* } */

/* nav menu-toggle.has-children.active:before, */
/* nav menu-toggle.has-children.focus:before { */
/* 	content: '-'; */
/* } */

/* nav a { */
/* 	text-decoration: none; */
/* } */
        
/* nav li.focus, nav li.active { */
/*   background: #4E3832; */
/* } */

/* nav ul ul, nav ul li.focus ul ul, nav ul ul li.focus ul ul, nav ul ul ul li.focus ul ul, */
/* nav ul ul, nav ul li.active ul ul, nav ul ul li.active ul ul, nav ul ul ul li.active ul ul { */
/* 	display: none; */
/* } */

/* nav ul li.focus ul, nav ul ul li.focus ul, nav ul ul ul li.focus ul, nav ul ul ul ul li.focus ul, */
/* nav ul li.active ul, nav ul ul li.active ul, nav ul ul ul li.active ul, nav ul ul ul ul li.active ul { */
/*   display: flex; */
/* } */

/* nav chapter-id:after { */
/*   content: ' - '; */
/* } */

/* nav chapter-notion { */
/*   display: none; */
/* } */

/* nav expanded-version { */
/*   display: none; */
/* } */

/* nav chapter-short ~ chapter-title { */
/*   display: none; */
/* } */

/* li[ignore] { */
/*   display: none; */
/* } */

/*
 *   schedule
 */
schedule {
  display: table;
  border: 1px solid black;
	font-size: 10px;
	width: 100%; 
  text-align: center;
  border-collapse: collapse;
}

schedule li {
  display: table-row;
}

schedule li chapter-id, schedule li chapter-title, schedule li chapter-content, schedule li chapter-notion, schedule li chapter-head {
  display: table-cell;
  border: 1px solid black;
	padding: 4px 6px 4px 6px;
  vertical-align: middle;
}

schedule li chapter-short {
  display: none;
}

schedule li chapter-id, schedule li chapter-title, schedule li chapter-head {
  text-align: center;
}

schedule li chapter-title {
  white-space: nowrap;
}

schedule li chapter-head {
  font-weight: bold;
}

schedule li chapter-content, schedule li chapter-notion {
  text-align: left;
}

schedule li ul {
  display: block;
  border: 0px;
  padding: 0em 0em 0em 1.3em;
  text-align: left
}

schedule li ul li {
  display: list-item;
}

/*
 *   content
 */
div#content {
  margin: 8px 8px 8px 8px;
}

h1 { 
  background: #003882;
/*  background-color: #6D5047;*/
	color: white;            
/*	height: 18px;*/
  /* color: #003882;  */
   font-size: 18px;
  text-align: center;
	counter-reset: exercice question;
  cursor: pointer;
}

h2.exercice-toggle:not([raw='true'])::before {
	content: 'Exercice ' counter(exercice) ' : ';
	counter-increment: exercice;
}

h2 {
	display: block;
/*  font-size: 16px;*/
	font-weight: bold;
	counter-reset: question;
  margin: 14px 0px 8px 0px;
  color: #6D5047;
}

h2.exercice-toggle {
  cursor: pointer;
}

h2.exercice-toggle {
  cursor: pointer;
}

h3.question-toggle:not([raw='true'])::before {
	content: 'Question ' counter(exercice) '.' counter(question, lower-alpha) '. ';
	counter-increment: question;
  width: 200px;
}

h3 {
/*	font-size: 12px; */
	font-weight: bold;
  color: #003882; 
  padding: 0px 0px 0px 0px;
	margin: 0px 3px 0px 0px;
}

h3.question-toggle {
	display: inline-block;
  cursor: pointer;
}

span.question-block {
  display: block;
  margin: 8px 0px 0px 0px;
}

p {
  text-align: justify;
}

a { 
/*  color: Black; */
/*  text-decoration: underline;*/
}

sup {
	font-size: 7px;
}

ul {
  margin: 3px 0px 0px 0px;
}

span.solution-toggle::before {
  content: 'Solution';
}

span.solution-toggle {
	display: block;
	font-weight: bold;
	background-color: white;
	color: red; 
  margin: 8px 0px 6px 0px;
  cursor: pointer;
}

span.solution {
  display: block;
	background-color: LightGoldenRodYellow;
 	border-style: groove;
	padding: 5px 5px 5px 5px;
}

span.code-block {
	display: block;
 	border-style: solid;
  margin: 5px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	background-color: MintCream;
	border-width: 1px;
}

span.code-block a {
	display: block;
	text-align: center;
}

pre.code {
   display: inline;
   white-space: pre-wrap;
   margin: 0em 0em 0em 0em;
}

/* Ajout d'un préfixe 'Attention :' avant les blocs BEGIN_attention / END_attention */
div.attention p::before {
    content: 'Attention : ';
    font-weight: bold; 
}

/* Gestion des icônes attention insérées par le JS */
div.attention i.atticon::before{
    font-family: "FontAwesome";
    content: "\F06A";
    display: block;
    /*background: url('somewhere.jpg') no-repeat;*/
    width: 25px;
    height: 25px;
    float: left;
    padding: 12px;
    font-size: 24px;
    font-style: none;
    font-weight: bold; 
}

div.attention p{
    /* font-style: italic; */
    background: #ffedcc;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

/* Ajout d'un préfixe 'Remarque :' avant les blocs BEGIN_remarque / END_remarque */
div.remarque p::before {
    content: 'Remarque : ';
    font-weight: bold;
}

/* Gestion des icônes remarques insérées par le JS */
div.remarque i.remicon::before{
    font-family: "FontAwesome";
    content: "\f05a";
    display: block;
    /*background: url('somewhere.jpg') no-repeat;*/
    width: 25px;
    height: 25px;
    float: left;
    padding: 12px;
    font-size: 24px;
/*    font-style: none;*/
    font-weight: bold; 
}


div.remarque p{
    display: block;
    font-style: italic;
    margin: 1em 0px;
    background: #dbfaf4;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

div.objectif p::before {
  content: 'Objectifs : ';
  font-weight: bold;
}

div.objectif p {
    display: block;
    font-style: italic;
    margin: 1em 0px;
    background: #e7f2fa;
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
}

bravo {
	display: block;
  font-size: 14px; 
  font-weight: bold; 
  margin: 16px 0px 16px 0px; 
  text-align: center;
}

partie {
  display: block;
	font-size: 14px; 
	font-weight: bold; 
	margin: 8px 0px 8px 0px;
}

table.annexe {
	width: 100%;
	border-spacing: 0px;
  border: 0px;
}

table.annexe td {
  vertical-align: top;
  padding-right: 20px;
}

table.annexe h2 {
  color: black;
  text-align: left;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 5px 0px;
}

table.annexe code {
  white-space: pre;
	color: #003882; 
}

table.code {
  table-layout: fixed;
	border-spacing: 0px;
  border: 0px;  
  width: 100%;
}

table.code td {
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
}

table.planning {
  border: 2px solid black;
	font-size: 10px;
	width: 100%; 
  text-align: center;
  border-collapse: collapse;
}

table.planning tbody {
  border-top: 2px solid;
}

table.planning th, table.planning td {
  border: 1px solid black;
	padding: 4px 6px 4px 6px;
}

h3 {
    clear: right;
}

div#postamble {
    margin: 3px 0px; 
    border-top: 1px solid black;
}

#postamble p {
    text-align: right;
}

div.example {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
  }

/* mobile and print */
@media (max-width: 640px) {
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: auto;
        margin: 0;
        padding: 0;
    }
    
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }
    
    /* conserver le ratio des images */

    img {
        height: auto;
    }
    
    /* gestion des mots longs */

    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }
    
    code,
    pre,
    samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }
    
    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    element1,
    element2 {
        float: none;
        width: auto;
    }
    
    /* masquer les éléments superflus */
    .hide_mobile {
        display: none !important;
    }

		/* forget the menu */
/*		nav ul {
		   display: none;
		}*/
    
    /* Un message personnalisé */
/*    body:before {
        content: "Version mobile du site";
        display: block;
        text-align: center;
        font-style: italic;
        color: #777;
    }*/
}

/* mobile */
@media screen and (max-width: 768px) {
	header logo {
		display: none;
	}

	nav {
		position: relative;
		height: initial;
		width: 100%;
	}

	nav li {
		height: initial;
		width: 100%;
  	margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 10px;
	}

	nav menu-toggle {
		width: 20px;
	}

	nav li.focus, nav li.active {
  	background-color: #6D5047;
	}

	nav ul ul {
		position: initial; 
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}			

	nav ul ul li {
		width: 100%
	}

	nav ul ul ul {
		margin: initial;
	}
}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}

@media print {
	nav ul {
		display: none;
	}
}
